@import '../../../styles/abstracts/index' ;
@import '../../../styles/base/index' ;

button {
    outline:none;
    border:none;
    appearance: none;
}


.primary {
    color: $neuWhite-25;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 14px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: $priBlue-500;
                    
    cursor:pointer;
    transition: all 100ms ease-out;
}
/* Hover State */ 
.primary:hover {
    background-color: $priBlue-700;
    box-shadow: $box-shadow;
}
/* Active State */ 
.primary:active {
    background-color: $priBlue-700;
    transform: translateY(4px);
}
/* Focus State */ 
.primary:focus-visible {
    background-color: $priBlue-700;
    box-shadow: $box-shadow;
    outline: solid 2px $focusBlue-75 ;
    outline-offset: 3px;
}
/* 
Disabled State  (incl. hover,active, while disabled)*/ 
.primary:is(:disabled) {
    background-color: $accShade-300;
    cursor: not-allowed;
}
.primary:is(:disabled):hover {
    background-color: $accShade-300;
    box-shadow: none;
}
.primary:is(:disabled):active {
    background-color: $accShade-300;
    transform: translateY(0);
}
.primary.small {
    font-size: 12px;
    padding: 6px 12px;
    margin: 8px;
}
.primary.large {
    font-size: 18px;
    padding: 9px 18px;
    margin: 8px;
}