@import '../abstracts/index';

$Givonic-Black: 'Givonic-Black', sans-serif;
$Givonic-Bold: 'Givonic-Bold', sans-serif;
$Givonic-SemiBold: 'Givonic-SemiBold', sans-serif;
$Givonic-Regular: 'Givonic-Regular', sans-serif;
$Givonic-Light: 'Givonic-Light', sans-serif;
$Givonic-Thin: 'Givonic-Thin', sans-serif;

$Inter-Bold: 'Inter-Bold', sans-serif;
$Inter-SemiBold: 'Inter-SemiBold', sans-serif;
$Inter-Medium: 'Inter-Medium', sans-serif;
$Inter-Regular: 'Inter-Regular', sans-serif;


.typ__headline {
    font-family: $Givonic-Bold;
    font-size: 2.5rem;
    line-height: 1.1;
    color: $priBlue-600;

    &.bold {
        font-family: $Givonic-Black;
        color: $priBlue-700;
    }
    &.large {
        font-family: $Givonic-SemiBold;
        color: $priBlue-700;
    }
    &.regular {
        font-family: $Givonic-SemiBold;
        font-size: 2rem;
        color: $priBlue-700;
    }
    &.subheadline {
        font-family: $Givonic-SemiBold;
        font-size: 1.75rem;
        color: $priBlue-700;
    }
    &.small {
        font-family: $Givonic-SemiBold;
        font-size: 1.5rem;
        color: $priBlue-700;
    }
}

    


/*      
        Body Typography      
                            */

// Body Medium/Regular
.typ__body {
    font-family: $Inter-Medium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $priBlue-600;
}
.typ__body.semiBold {
    font-family: $Inter-SemiBold;
    font-weight: 600;
    color: $priBlue-700;
}
.typ__body.Bold {
    font-family: $Inter-Bold;
    font-weight: 700;
    color: $priBlue-700;
}

// Body Large
.typ__body.large {
    font-size: 1.125rem;
}
.typ__body.large.semiBold {
    font-family: $Inter-SemiBold;
    font-weight: 600;
    color: $priBlue-700;
}
.typ__body.large.Bold {
    font-family: $Inter-Bold;
    font-weight: 700;
    color: $priBlue-700;
}

// Body Small
.typ__body.small {
    font-size: 0.875rem;
}
.typ__body.small.semiBold {
    font-family: $Inter-SemiBold;
    color: $priBlue-700;
}
.typ__body.small.Bold {
    font-family: $Inter-Bold;
    color: $priBlue-700;
}


/*      
        Captions Typography      
                            */

// Captions Medium/Regular
.typ__captions {
    font-family: $Inter-Regular;
    color: $accShade-500;
    font-weight: 400;
    font-size: 0.75rem;
}
.typ__captions.medium {
    font-family: $Inter-Medium;
    font-weight: 500;
    color: $accShade-600;
}
.typ__captions.semiBold {
    font-family: $Inter-SemiBold;
    font-weight: 600;
    color: $accShade-600;
}

// Captions Large
.typ__captions.large {
    font-size: 0.875rem;
}
.typ__captions.large.medium {
    font-family: $Inter-Medium;
    font-weight: 500;
    color: $accShade-600;
}
.typ__captions.large.semiBold {
    font-family: $Inter-SemiBold;
    font-weight: 600;
    color: $accShade-600;
}

// Captions Small
.typ__captions.small {
    font-size: 0.625rem;
}
.typ__captions.small.medium {
    font-family: $Inter-Medium;
    font-weight: 500;
    color: $accShade-600;
}
.typ__captions.small.semiBold {
    font-family: $Inter-SemiBold;
    font-weight: 600;
    color: $accShade-600;
}
