@import '../../../styles/abstracts/index' ;
@import '../../../styles/base/index' ;

input[type="text"],
input[type="password"] {
    border: none;
    outline: none;
}
textarea {
    border: none;
    outline: none; 
}

.standard {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 14px 6px;
    transition: all 100ms ease;
    * {
        transition: all 100ms ease;
    }

    label {
        display: block;
        font-family: $Inter-SemiBold;
        color: $priBlue-600;
    }

    input {
        font-family: $Inter-Medium;
        color: $accShade-500;
        font-size: 16px;
        max-width: 340px;
        padding: 8px 19px;
        border-bottom: solid 2px $accShade-400;


        &:hover {
            border-bottom: solid 2px $accShade-500;
            color: $accShade-600;
        }

        &:active {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &:focus-visible {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &::placeholder {
            font-family: $Inter-Regular;
            font-weight: 400;
            color: $accShade-400;
            font-size: 14px;
        }
    }

    &:has(input[type="text"]:focus) label {
        color: $focusBlue-25;
    }

    // Firefox Fix
    &:focus-within  label {
        color: $focusBlue-25;
    }
}


// Does not work on Mozilla Firefox

.filled {
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    margin: 14px 6px;
    transition: all 100ms ease;

    padding-top: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $accShade-100;
    width: 340px;
    * {
        transition: all 100ms ease;
    }

    label {
        display: block;
        padding-left: 8px;
        font-family: $Inter-SemiBold;
        color: $priBlue-600;
    }

    input {
        font-family: $Inter-Medium;
        color: $accShade-500;
        font-size: 16px;
        max-width: 340px;
        padding: 8px 19px;
        border-bottom: solid 2px $accShade-400;
        background-color: transparent;


        &:hover {
            border-bottom: solid 2px $accShade-500;
            color: $accShade-600;
        }

        &:active {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &:focus-visible {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &::placeholder {
            font-family: $Inter-Regular;
            font-weight: 400;
            color: $accShade-400;
            font-size: 14px;
        }
    }

    &:has(input[type="text"]:focus) label {
        color: $focusBlue-25;
    }

    // Firefox Fix
    &:focus-within  label {
        color: $focusBlue-25;
    }
}



.password {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 14px 6px;
    padding-bottom: 12px;
    transition: all 100ms ease;
    * {
        transition: all 100ms ease;
    }

    label {
        display: block;
        font-family: $Inter-SemiBold;
        color: $priBlue-600;
    }

    input {
        font-family: $Inter-Medium;
        color: $accShade-500;
        font-size: 16px;
        max-width: 340px;
        padding: 8px 19px;
        border-bottom: solid 2px $accShade-400;


        &:hover {
            border-bottom: solid 2px $accShade-500;
            color: $accShade-600;
        }

        &:active {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &:focus-visible {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &::placeholder {
            font-family: $Inter-Regular;
            font-weight: 400;
            color: $accShade-400;
            font-size: 14px;
        }


    }
    .helperText {
        margin-top: -24px;
    }
    &:has(input[type="password"]:focus) label,
    &:has(input[type="text"]:focus) label {
        color: $focusBlue-25;
    }

    &:has(input[type="password"]:focus) button,
    &:has(input[type="text"]:focus) button {
        background-color: $accShade-100 ;
    }

    button {
        position: relative;
        top: -35px;
        left: 300px;
        display: inline-flex;

        line-height: 1;
        font-size: 16px;
        color: $accShade-600;

        justify-content: center;
        align-items: center;

        background-color: #E6E6E650;
        border-radius: 50%;
        width: 24px;
        height: 24px;

        cursor: pointer;
        z-index: 1;
    }

    button:hover{
        color: $accShade-800;
        background-color: $accShade-300;
    } button:active {
        color: $accShade-800;
        background-color: $accShade-300;
    }

    // Firefox Fix
    &:focus-within  label {
        color: $focusBlue-25;
    }
}

.textArea {
    width: 100%;
    max-width: 340px;
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    margin: 14px 0px;

    label {
        display: block;
        padding-left: 8px;
        font-family: $Inter-SemiBold;
        color: $priBlue-600;
    }

    textarea {
        font-family: $Inter-Medium;
        color: $accShade-500;
        font-size: 16px;
        width: 100%;
        padding: 19px 19px;
        border-bottom: solid 2px $accShade-400;
        background-color: transparent;
        max-width: inherit;


        &:hover {
            border-bottom: solid 2px $accShade-500;
            color: $accShade-600;
        }

        &:active {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &:focus-visible {
            border-bottom: solid 2px $focusBlue-25;
            color: $accShade-700;
        }

        &::placeholder {
            font-family: $Inter-Regular;
            font-weight: 400;
            color: $accShade-400;
            font-size: 14px;
        }
    }

    &:has(textarea:focus-visible) textarea {
        background-color: #E6E6E670;
    }
    .counterWrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;


        .characterCounter {
            margin-top: 6px;
            display: inline;
            font-family: $Inter-Regular;
            font-weight: 400;
            line-height: 1;
            font-size: 12px;
            color: $accShade-400;
    
            padding-left: auto;
            padding-bottom: 6px;

            &.warning {
                color: $priOrange-400;
                font-family: $Inter-Medium;
                font-weight: 500;
            }
            &.error {
                color: $errorRed-75;
                font-family: $Inter-Medium;
                font-weight: 500;
            }
        }
    }
    .helperText {
        margin-top: -8px;
    }


    &:has(textarea:focus-visible) label {
        color: $focusBlue-25 ;
    }

    // Firefox Fix
    &:focus-within  label {
        color: $focusBlue-25;
    }

}


.helperText {
    display: block;
    font-family: $Inter-Regular;
    font-weight: 400;
    font-size: 14px;
    color: $accShade-300;
    margin-top: 6px;
}
.helperText.warning {
    color: $priOrange-400;
}
.helperText.error {
    color: $errorRed-75;
}


.textArea_resize {
    width: 100%;
    max-width: 340px;
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    margin: 14px 0px;
    .grow-wrap {
        /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
        display: grid;
      }
      .grow-wrap::after {
        /* Note the weird space! Needed to preventy jumpy behavior */
        content: attr(data-replicated-value) " ";
      
        /* This is how textarea text behaves */
        white-space: pre-wrap;
      
        /* Hidden from view, clicks, and screen readers */
        visibility: hidden;
      }
      .grow-wrap > textarea {
        /* You could leave this, but after a user resizes, then it ruins the auto sizing */
        resize: none;
      
        /* Firefox shows scrollbar on growth, you can hide like this. */
        overflow: hidden;
      }
      .grow-wrap > textarea,
      .grow-wrap::after {
        /* Identical styling required!! */
        border: 1px solid black;
        padding: 0.5rem;
        font: inherit;
      
        /* Place on top of each other */
        grid-area: 1 / 1 / 2 / 2;
      }
      
    
      
}

