
$priOrange-100: #FFA500;
$priOrange-200: #E59400;
$priOrange-300: #CC8400;
$priOrange-400: #B27300;
$priOrange-500: #996300;
$priOrange-600: #805200;
$priOrange-700: #664200;
$priOrange-800: #4C3100;
$priOrange-900: #332100;
$priOrange-1000: #191000;


$priBlue-100: #0084E6;
$priBlue-200: #0076CC;
$priBlue-300: #0067B3;
$priBlue-400: #005899;
$priBlue-500: #004A80;
$priBlue-600: #003B66;
$priBlue-700: #002C4D;
$priBlue-800: #001E33;
$priBlue-900: #000F1A;


$accShade-100: #E6E6E6;
$accShade-200: #CCCCCC;
$accShade-300: #B3B3B3;
$accShade-400: #999999;
$accShade-500: #808080;
$accShade-600: #666666;
$accShade-700: #4C4C4C;
$accShade-800: #333333;
$accShade-900: #191919;

$successGreen-25: #5BFF4D;
$successGreen-50: #4DD941;
$successGreen-75: #40B336;
$successGreen-100: #328C2A;

$errorRed-25: #FF3338;
$errorRed-50: #D92B30;
$errorRed-75: #B32427;
$errorRed-100: #8C1C1F;

$focusBlue-25: #057BFF;
$focusBlue-50: #0469D9;
$focusBlue-75: #0356B2;
$focusBlue-100: #02438C;

$neuWhite-100: #FFFFFF;
$neuWhite-75: #F2F2F2;
$neuWhite-50: #E6E6E6;
$neuWhite-25: #D9D9D9;

$neuBlack-100: #000000;
$neuBlack-75: #191919;
$neuBlack-50: #333333;
$neuBlack-25: #4C4C4C;