@font-face {
    font-family: 'Givonic Bold';
    src: url(/src/assets/Givonic_Fonts/Givonic-Bold.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Givonic Regular';
    src: url(/src/assets/Givonic_Fonts/Givonic-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}