$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$box-shadow-1: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

$buttonDropShadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

$box-shadow-2: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$box-shadow-3: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

$box-shadow-4: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;